
a {

  color:orange;
  text-align: center;
 }

img {

max-width: 50%;

}

 body {

   font-family:Comic Sans;   
}



#cover {

   max-width: 940px;
   margin: 0 auto;
   padding: 10px;

 }


 h3 {
     margin:50px;
 }


/*HEADING*/

header {
  float: left;
  margin: 50px;
  padding: 2px;
  width: 100%;

}

.center {
 text-align: center
}



h1  {
color: black;
text-align: center;

 }




h3  {
  background-color: white;
  width: 500px;
  border: 15px dotted orange;
  padding: 30px;
  margin: 200px;
  
}




/*FOOTER*/

 .footer {
 font-size: 10px;
 text-align: center;
 clear: both;
 padding-top: 50px;
 }




.book-photo {

  position: relative;
  left: 420px;
  border-radius: 50px;
  border: 3px;
  padding: 20px;
 width: 300px; 
 height: 400px; 
}



 /*HOME PAGE*/


.profile-photo {
    display: block;
    max-width: 200px;
    margin: 0 auto 30px;
    border-radius: 50px;
}



  header {
   background: white;
   border-color: black;
 }



/* site body*/

body {
    background-color:white;
}
